/UsedPartsShop/nbproject/
/UsedPartsShop/build/
/UsedPartsShop/dist/
/UsedPartsShop/build.xml
/UsedPartsShop/derby.log
/UsedPartsShop/manifest.mf
derby.log
/upsDB/
/upsDB_ver2.0/
/upsDB_ver2.0_forTest/
derby.properties